body{
   background-image: url("../images/ass.jpg");
   background-size: cover;
   background-repeat: no-repeat;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.carousel-inner
{
    height:auto;
    width:auto
}

.modals-container{
    
    position:fixed;
    
    top:0px;
    bottom:0px;
    left:4rem;
    right:0px;
    height:100vh;
    width:100vw;

    background-color: black;
    opacity:1;
    
    backdrop-filter: blur(80px);
    z-index:1;

}

.carousel-control-prev,.carousel-control-next{
    
    background-color: rgb(187, 187, 187);
}
.carousel-control-prev{
    left:-10.5rem
}
.carousel-indicators{
    background-color: dimgray;
}

.carousel-caption
{
display: flex;
justify-content: center;
align-items: center;
left:0px
}